{% extends 'base.html' %}
{% block title %}Aviso Legal{% endblock %}

{% block content %}
{% include 'navbar.html' %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h4 class="mb-4">INTRODUCCIÓN</h4>
            <p>En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y
                Comercio Electrónico (LSSI-CE), AL LORO FESTIVAL SL le informa que es el titular del sitio web. En
                cumplimiento del artículo 10 de dicha Ley, AL LORO FESTIVAL SL le facilita la siguiente información:</p>
            <p>AL LORO FESTIVAL SL</p>
            <p>NIF: 03206666Y</p>
            <p>DIRECCIÓN: Calle Iglesia, 10, Valdeaveruelo, Guadalajara. (NO SE ACEPTARÁN DEVOLUCIONES ENVIADAS A ESTA
                DIRECCIÓN)</p>
            <p>CORREO ELECTRÓNICO: allorofestival@gmail.com</p>
            <p>MOVIL: (+34) 636 395 120</p>
            <p>PROPÓSITO PRINCIPAL: Organización Festival de Música</p>
            <p>AL LORO FESTIVAL SL está inscrita en el Registro Mercantil con el número de inscripción 1/2020/112109,0,
                diario 139, inscripción 345 en el tomo 40972, folio 144 en la inscripción 1 con hoja M726779 en la
                entidad AL LORO FESTIVAL SL.</p>
            <h4 class="mb-4">USUARIOS Y RÉGIMEN DE RESPONSABILIDAD</h4>
            <p>La navegación, acceso y uso por el sitio web de AL LORO FESTIVAL SL constituye a la persona como usuario.
                Como consecuencia de la navegación por el sitio web de AL LORO FESTIVAL SL dicho usuario acepta todas
                las condiciones de uso aquí establecidas, sin perjuicio de la aplicación de la correspondiente normativa
                de obligado cumplimiento aplicable en cada caso.</p>

            <p>EL SITIO WEB DE AL LORO FESTIVAL SL proporciona gran diversidad de información, servicios y datos. El
                usuario acepta su responsabilidad personal por el uso correcto de este website. Dicha responsabilidad se
                extiende a:</p>

            <ul>
                <li>La veracidad y licitud de las informaciones aportadas por el usuario en las formularios solicitados
                    por NUDE PROJECT SL para el acceso a ciertos contenidos o servicios ofrecidos por el web.</li>
                <li>El uso de la información, servicios y datos ofrecidos por AL LORO FESTIVAL SL contrariamente a lo
                    dispuesto por las presentes condiciones, la Ley, la moral, las buenas costumbres o el orden público,
                    o que de cualquier otro modo puedan suponer lesión de los derechos de terceros o afectar al correcto
                    funcionamiento del sitio web.</li>
            </ul>

            <h4 class="mb-4">POLÍTICA DE ENLACES Y EXENCIÓN DE RESPONSABILIDAD</h4>

            <p>AL LORO FESTIVAL SL no se hace responsable del contenido de los sitios web a los que el usuario pueda
                acceder a través de los enlaces establecidos en su sitio web y, en ningún caso, procederá a examinar o
                ejercitar ningún tipo de control sobre el contenido de otros sitios de la red. Asimismo, tampoco
                garantizará la disponibilidad técnica, exactitud, veracidad, validez o legalidad de páginas ajenas a su
                propiedad a las que se pueda acceder por medio de los enlaces.</p>

            <p>AL LORO FESTIVAL SL ha adoptado todas las medidas necesarias para evitar cualquier daño a los usuarios de
                su sitio web, que pudieran derivarse de la utilización de la misma. En consecuencia, AL LORO FESTIVAL SL
                no se hace responsable, en ningún caso, de los eventuales daños que por la utilización de Internet
                pudiera sufrir el usuario.</p>

            <h4 class="mb-4">MODIFICACIONES</h4>

            <p>AL LORO FESTIVAL SL se reserva el derecho a realizar las modificaciones que considere oportunas, sin
                aviso previo, en el contenido de su sitio web. Esto incluye el contenido de la página web, sus
                Condiciones de Uso, o las Condiciones Generales de Contratación. Dichas modificaciones podrán
                realizarse, a través de su website, de cualquier forma admisible en derecho y serán de obligado
                cumplimiento durante el tiempo en que se encuentren publicadas en la web y hasta que no sean modificadas
                por otras posteriores.</p>

            <h4 class="mb-4">PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>

            <p>AL LORO FESTIVAL SL por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e
                industrial de su página web. Asimismo, todos los elementos contenidos en la misma (a título enunciativo,
                imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores,
                maquetación y diseño, selección de materiales usados, programas de ordenador necesarios para su correcto
                funcionamiento, acceso y uso, etc.) son titularidad de AL LORO FESTIVAL SL . En consecuencia, dichas
                obras se encuentran protegidas como propiedad intelectual por la legislación española, siendo de
                aplicación en este caso, tanto la legislación española como la europea en la materia, así como los
                convenios internacionales en la materia a los que España se encuentra adherida.</p>

            <p>Quedan reservados todos los derechos. En virtud de lo dispuesto en la Ley de Propiedad Intelectual,
                quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su
                modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con
                fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de AL LORO
                FESTIVAL SL . El usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial
                titularidad de NUDE PROJECT SL. Podrá visualizar los elementos del portal e incluso imprimirlos,
                copiarlos o almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y
                cuando sea, única y exclusivamente, para su uso personal y privado. El usuario deberá abstenerse de
                suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que
                estuviera instalado en el las páginas de NUDE PROJECT SL.</p>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}