{% extends 'base.html' %}
{% block title %}Merchandising{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    <h2>Productos de Merchandising</h2>
    <div class="row">
        {% for product in productos %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/productos/' + product.imagen) }}" class="card-img-top" alt="{{ product.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.nombre }}</h5>
                    <p class="card-text">Precio: {{ product.precio }}€</p>
                    <p class="card-text">Descripción: {{ product.descripcion }}</p>
                    {% if 'email' in session %}
                        <a href="{{ url_for('producto', producto_id=product.id_producto) }}" class="btn btn-success">Ver Producto</a>
                    {% else %}
                        <button class="btn btn-secondary" disabled>Ver Producto</button>
                        <p class="text-danger mt-2">Inicia sesión para comprar</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
