{% extends 'base.html' %}
{% block title %}Términos del servicio{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1 class="mb-4">Política de privacidad</h1>
    <p>AL LORO FESTIVAL SL (en adelante, "AL LORO FESTIVAL") se compromete a garantizar la privacidad de los usuarios que
        acceden a su sitio web y que interactúan con él. Esta política de privacidad describe cómo recopilamos,
        utilizamos, compartimos y protegemos la información personal que recopilamos.</p>
    <h3>Recopilación y uso de la información</h3>
    <p>AL LORO FESTIVAL recopila información personal de los usuarios cuando estos se registran en nuestro sitio web,
        realizan un pedido, se suscriben a nuestro boletín de noticias o completan un formulario. La información
        recopilada puede incluir nombres, direcciones de correo electrónico, direcciones postales, números de teléfono y
        otra información relevante.</p>
    <p>La información personal que recopilamos se utiliza para procesar transacciones, enviar boletines informativos por
        correo electrónico, responder a consultas de los usuarios y personalizar la experiencia del usuario en nuestro
        sitio web.</p>
    <h3>Protección de la información</h3>
    <p>AL LORO FESTIVAL implementa una variedad de medidas de seguridad para garantizar la seguridad de la información
        personal de los usuarios. Utilizamos encriptación SSL para proteger la transmisión de datos confidenciales y
        mantenemos medidas de seguridad físicas, electrónicas y procedimentales para proteger la información recopilada
        en línea.</p>
    <h3>Divulgación a terceros</h3>
    <p>AL LORO FESTIVAL no vende, intercambia ni transfiere información personal de los usuarios a terceros sin su
        consentimiento, excepto cuando sea necesario para proporcionar servicios solicitados por los usuarios, como el
        procesamiento de pedidos y la entrega de productos.</p>
    <p>AL LORO FESTIVAL puede divulgar información personal de los usuarios cuando sea necesario para cumplir con la ley,
        hacer cumplir nuestras políticas de sitio web o proteger nuestros derechos, propiedad o seguridad, o la de
        otros.</p>
    <h3>Consentimiento</h3>
    <p>Al utilizar nuestro sitio web, los usuarios consienten nuestra política de privacidad y aceptan sus términos y
        condiciones.</p>
    <h3>Actualizaciones de la política de privacidad</h3>
    <p>AL LORO FESTIVAL se reserva el derecho de actualizar o modificar esta política de privacidad en cualquier momento sin
        previo aviso. Se alienta a los usuarios a consultar esta página con frecuencia para mantenerse informados sobre
        cómo protegemos la información personal que recopilamos. El uso continuado del sitio web después de la
        publicación de cualquier cambio en esta política constituirá la aceptación de dichos cambios.</p>
</div>

{% include 'footer.html' %}
{% endblock %}