{% extends 'base.html' %}
{% block title %}{{ product.nombre }}{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    <h2>{{ product.nombre }}</h2>
    <div class="row">
        <div class="col-md-6">
            <img id="main-image" src="{{ url_for('static', filename='images/productos/' + product.imagen) }}" class="img-fluid" alt="{{ product.nombre }}">
        </div>
        <div class="col-md-6">
            <h5>Precio: {{ product.precio }}€</h5>
            <p>Descripción: {{ product.descripcion }}</p>
            <form method="POST">
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad" value="1" min="1">
                </div>
                <div class="form-group">
                    <label for="talla">Talla</label>
                    <select class="form-control" id="talla" name="talla">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>
                <button class="btn btn-success mt-2">Añadir al Carrito</button>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
