<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='spoti.css') }}">
</head>
<body>
    <h1>Your Spotify Playlists</h1>
    {% if playlists %}
        <ul>
            {% for playlist in playlists %}
                <li>
                    <a href="{{ playlist['external_urls']['spotify'] }}" target="_blank">{{ playlist['name'] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No playlists found.</p>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
