{% extends 'base.html' %}
{% block title %}Términos del servicio{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h4 class="mb-4">TÉRMINOS DEL SERVICIO</h4>
        CONDICIONES GENERALES DE CONTRATACIÓN - PRODUCTOS

        Información previa al proceso de contratación

        El presente sitio web https://nude-project.com/ es propiedad de AL LORO FESTIVAL SL con CIF B01945328 y domicilio
        social en
        C/ Pujades 81, 08005. BARCELONA.

        Las presentes Condiciones Generales de Contratación regulan la relación de venta a distancia entre NUDE PROJECT
        SL y el
        usuario o cliente, de conformidad con las disposiciones legales vigentes, en particular, la Ley 7/1998, de 13 de
        abril,
        sobre Condiciones Generales de la Contratación, la Ley 3/2014, de 27 de marzo, por la que se modifica el texto
        refundido
        de la Ley General para la Defensa de los Consumidores y Usuarios, Ley Orgánica 3/2018, de 5 de diciembre, de
        Protección
        de Datos Personales y Garantía de los Derechos Digitales, el Reglamento General de Protección de Datos (UE)
        2016/679, la
        Ley 7/1996, de 15 de enero, de Ordenación del Comercio Minorista, y la Ley 34/2002, de 11 de julio, de Servicios
        de la
        Sociedad de la Información y de Comercio Electrónico.

        AL LORO FESTIVAL SL  se reserva el derecho a realizar las modificaciones que considere oportunas, sin aviso previo,
        en las
        presentes Condiciones Generales. Dichas modificaciones podrán realizarse, a través de sus websites, por
        cualquier forma
        admisible en Derecho y serán de obligado cumplimiento durante el tiempo en que se encuentren publicadas en la
        web y
        hasta que no sean modificadas válidamente por otras posteriores. No obstante, AL LORO FESTIVAL SL  se reserva el
        derecho de
        aplicar, en determinados casos, unas Condiciones Particulares de Contratación con preferencia a las presentes
        Condiciones Generales cuando lo considere oportuno, anunciándolo en tiempo y forma oportunos.

        El objeto del sitio web es la Comercialización de prendas de vestir y complementos.

        La duración del contrato estará vinculada a la entrega del producto, sin perjuicio del derecho de desistimiento.

        Como usuario o cliente, declaras expresamente conocer, entender y aceptar las condiciones de uso y las presentes
        condiciones generales de contratación. Asimismo, declaras ser mayor de edad y tener la capacidad jurídica y de
        obrar
        necesaria para el acceso a los sitios web de AL LORO FESTIVAL SL  y la contratación a través de los mismos.

        La Comisión Europea pone a su disposición una plataforma de resolución de litigios en línea, que está disponible
        en el
        siguiente enlace:

        https://ec.europa.eu/consumers/odr/

        Si desea adquirir nuestros productos, puede dirigirse a la sección correspondiente de nuestra tienda online.

        Puede registrarse como usuario de la web para poder realizar la compra online en la sección correspondiente de
        la web.
        De conformidad con la normativa vigente aplicable en materia de protección de datos, AL LORO FESTIVAL SL  le informa
        que los
        datos personales recabados durante el proceso de registro y posterior compra serán incorporados al sistema de
        tratamiento titularidad de AL LORO FESTIVAL SL , con la finalidad de tramitar sus acciones y gestionar las
        posteriores
        derivadas de las mismas.

        Sus datos serán conservados durante el plazo estrictamente necesario para cumplir con la finalidad anterior,
        salvo que
        legalmente se exijan otros plazos de conservación.

        Le informamos que la base legal para el tratamiento de sus datos es la correcta ejecución del contrato entre las
        partes
        y su consentimiento.

        De conformidad con los derechos que le confiere la normativa vigente en materia de protección de datos, podrá
        ejercitar
        los derechos de acceso, rectificación, limitación del tratamiento, supresión, portabilidad y oposición al
        tratamiento de
        sus datos personales, así como revocar su consentimiento para dicho tratamiento, dirigiendo su solicitud a la
        dirección
        postal arriba indicada o a la dirección de correo electrónico allorofestival@gmail.com. Asimismo, podrá dirigirse a
        la
        Autoridad de Control competente para presentar la reclamación que considere oportuna.

        Durante el proceso de compra, deberá identificarse con su nombre de usuario y contraseña. Estos datos no se
        harán
        públicos. Usted es responsable de tratar de forma confidencial y responsable la identidad y la contraseña
        adquiridas
        durante el registro como cliente y no podrá revelarlas a otros usuarios. Podrá modificar en cualquier momento
        los datos
        registrados en la web, en su área de cliente. En esta misma sección, tendrá acceso a un historial de sus
        pedidos. Se
        trata únicamente de una sección de consulta. No obstante, se permiten ciertos procedimientos, como borrar
        aquellos
        registros que ya no considere necesario visualizar.

        Al finalizar el proceso de compra, recibirá una confirmación de la misma por correo electrónico. Debe facilitar
        una
        dirección de correo electrónico válida durante el proceso de compra. Si no recibe la confirmación en las 24
        horas
        siguientes a la finalización de su pedido, póngase en contacto con AL LORO FESTIVAL SL  a través del correo
        electrónico
        allorofestival@gmail.com.

        Todo el contenido de la página web está en inglés, español, portugués, italiano y deutch.

        Cuando reciba el producto en la dirección de entrega que haya indicado, se incluirá también una factura o copia
        del
        pedido.

        Oferta y validez

        En el caso de un producto en oferta, siempre se indicará el precio y la validez de la oferta junto con sus
        características básicas.

        En cumplimiento de la normativa vigente, AL LORO FESTIVAL SL  facilita información sobre todos los artículos en
        venta,
        incluyendo sus características y precios. No obstante, AL LORO FESTIVAL SL  se reserva el derecho a retirar, reponer
        o
        cambiar los productos que se ofrecen a través de su página web, mediante el simple cambio en el contenido de la
        misma.
        Así, los productos ofrecidos en cada momento por el sitio web se regirán por las Condiciones Generales de
        Contratación
        vigentes en cada caso. Asimismo, la empresa tendrá la facultad de dejar de ofrecer el acceso a los productos
        mencionados, en cualquier momento y sin previo aviso.

        Características básicas de los productos

        Los productos ofrecidos en nuestra tienda online incluyen una fotografía y las características básicas de los
        productos,
        que es la información proporcionada por el fabricante. El color del producto, tal y como se muestra en la
        fotografía, no
        es vinculante. El color del producto se identifica en sus características.

        Garantías

        Todos los productos ofrecidos en el sitio web están cubiertos por la garantía de venta del proveedor. NUDE
        PROJECT SL
        ofrece un servicio post-venta que los clientes pueden utilizar durante el periodo de garantía poniéndose en
        contacto con
        el establecimiento de AL LORO FESTIVAL SL , el servicio post-venta, mediante correo electrónico enviado a
        allorofestival@gmail.com, o en los puntos establecidos por el proveedor.

        Precios

        Todos los productos muestran el precio de venta en Euros e incluyen el Impuesto sobre el Valor Añadido (IVA).

        Si fuera de aplicación algún otro impuesto, también se indicará (IGIC [Impuesto General Indirecto Canario] o
        IPSI
        [Impuesto sobre la Producción, los Servicios y la Importación para Ceuta y Melilla]).

        Gastos de envío y transporte

        AL LORO FESTIVAL SL  sólo realiza envíos cobrando un importe de € 3,90 en España, € 8,90 en Europa y para destinos
        Internacionales € 12 en concepto de gastos de envío.

        Para pedidos superiores a € 100, el envíoserá gratuito en España.

        Formas de pago

        Puede pagar su pedido de cualquiera de las siguientes formas. Deberá indicar cuál elige durante el proceso de
        compra:

        - PayPal

        Es un servicio seguro y fácil de usar para realizar pagos a través de Internet. La red PayPal utiliza la
        infraestructura
        financiera existente de cuentas bancarias y tarjetas de crédito para crear una solución global de pago en tiempo
        real.
        PayPal ofrece un servicio especialmente diseñado para quienes no están satisfechos con los mecanismos de pago
        tradicionales.

        Más información en PayPal. .http://www.paypal.com./ - Bizum

        Se trata de un servicio rápido y sencillo en el que se puede enviar y recibir dinero a través de la app de
        nuestro
        banco. El dinero llega a nuestra cuenta de forma inmediata y segura.

        Más información en Bizum: https://bizum.es/politica-de-privacidad/ Prestación del servicio

        AL LORO FESTIVAL SL  se compromete a entregar el pedido en un plazo aproximado de:

        - 48 - 72 horas en España (9-10 días en las Islas Canarias)

        - 6 días (aprox.) en Europa

        - 10 días (aprox. ) para destinos internacionales.

        La disponibilidad de los productos ofrecidos por AL LORO FESTIVAL SL  puede variar en función de la demanda del
        cliente.
        Aunque AL LORO FESTIVAL SL  actualiza el stock periódicamente, el producto solicitado por el cliente puede estar
        agotado en
        ese momento. En caso de que no sea posible suministrar el producto por falta de disponibilidad, AL LORO FESTIVAL SL 
        lo
        notificará al cliente por correo electrónico tan pronto como tenga conocimiento de esta situación. En ningún
        caso el
        plazo para el envío de este aviso excederá de un máximo de 30 días. AL LORO FESTIVAL SL  podrá ofrecer dos opciones:
        suministrar al cliente un producto de similares características o mayor calidad al mismo precio o, salvando
        causas
        justificadas que puedan ser acreditadas por AL LORO FESTIVAL SL , reembolsar las cantidades abonadas por el pedido
        anulado
        dentro del mismo plazo.

        Devoluciones

        El cliente deberá devolver o entregar el producto directamente a AL LORO FESTIVAL SL  a través de este enlace, y en
        todo caso
        en un plazo máximo de treinta días naturales a contar desde la fecha de compra. El plazo para realizar
        devoluciones se
        considerará cumplido si el cliente devuelve el producto antes del vencimiento del plazo.

        El cliente correrá con los gastos de la devolución.

        Devolución del pago

        Las cantidades abonadas por el cliente serán reembolsadas utilizando la misma forma de pago utilizada por el
        cliente,
        salvo que se haya dispuesto lo contrario.

        AL LORO FESTIVAL SL  reembolsará las cantidades abonadas por el cliente en el plazo de 30 días naturales desde la
        fecha de
        recepción del derecho de desistimiento.

        Devolución de productos defectuosos

        Si el producto no se encuentra en buen estado por causas no imputables al cliente, éste tendrá derecho a
        devolver el
        producto, comunicando a AL LORO FESTIVAL SL  el motivo de la devolución por cualquiera de los medios previstos en las
        presentes condiciones de contratación, sin coste alguno para el cliente. Las devoluciones efectuadas por
        productos
        defectuosos o deteriorados no se considerarán ejercicio del derecho de desistimiento.

        AL LORO FESTIVAL SL  se compromete a abonar el coste de la devolución y a sustituir el producto por uno nuevo en los
        términos
        aceptados en el momento de la venta.

        Si el cliente desea presentar una reclamación, puede enviarla a allorofestival@gmail.com

    </div>
</div>

{% include 'footer.html' %}
{% endblock %}